.features__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.features__bg__pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  max-height: 172px;
  overflow: scroll;
}

.feature-box > h3 {
  overflow: scroll;
}

@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
  transform: translateY(-1.5rem) scale(1.03);
}

.features {
  padding: 7rem 10rem 15rem 10rem;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .features {
    padding: 8rem 0;
  }
}

.grid {
  /* display: block; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4em;
  /* padding:  */
  /* max-width: 90vw; */
  /* left: auto;
  right: auto; */
}

.col {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: .2em; */
}

.button {
  display: block;
}

.upload-btn {
  border-radius: 20%;
  outline: 0;
  width: 5em;
  height: 2em;
  font-family: 'Raleway', sans-serif;
}

.upload-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.upload-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

* {
  text-decoration: none;
  color: inherit;
}

.feature-box__text {
  overflow: scroll;
}