/* row and col properties are inherited from App.css */

.footer {
  background-color: #333;
  padding: 4rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}
.footer__logo__img {
  width: 15rem;
}

.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  display: inline-block;
}

@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    /* text-align: center; */
  }
}
.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
  margin-right: 1.5rem;
}

.footer__contact:hover {
  text-decoration: underline;
}

.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}

@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}