.header {
  box-sizing: border-box;
  overflow: hidden;
  /* background-color: rgba(44, 16, 35, 0.575); */
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: rgb(20, 7, 7);
  /* position: relative; */
  /* position: fixed; */
  position: sticky;
  border-bottom: 3px solid #f3a803;
}

.header-content {
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-auto-rows: minmax(80px, auto); */
  grid-template-rows: 1fr;
}

.header-menu-home {
  grid-column-start: 1;
  grid-column-end: 2;
}

.header-menu-upload {
  grid-column-start: 2;
  grid-column-end: 3;
}

.header-menu-about {
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 0.9em;
  white-space: nowrap;
}

.header-content p {
  float: left;
  color: #000000;
  padding: 35px 20px 7px 25px;
  font-size: 1.5em;
}

.header-content p:hover {
  color: black;
  text-decoration: underline;
}

.title {
  font-family: 'Amatic-SC', cursive;
  font-size: 2.5em;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  /* float: center; */
  grid-column-start: 5;
  grid-column-end: 9;
  padding-top: 2%;
}

.logo {
  /* display: flex; */
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-column-start: 12;
  grid-column-end: 13;
  padding-top: 15%;
}

.logo-pic {
  height: 50px;
}

.logo:hover {
  transform: translateY(-2px);
}

.logo:active {
  transform: translateY(-1px);
}