/* row and col properties are inherited from App.css */

.home {
  /* padding-top: 82px;
  overflow: hidden; */
  /* position: absolute; */
}

.heading-main {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
}

.heading-main p {
  font-size: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .heading-main {
    font-size: 3rem;
  }

  .heading-main p {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-main {
    font-size: 2.5rem;
  }

  .heading-main p {
    font-size: 1.6rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.center-text {
  text-align: center !important;
}

.margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.section-features__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.section-features__bg__pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-stories__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.section-stories__bg__pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.home-composition {
  position: relative;
}

.home-composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .home-composition__photo {
    float: left;
    position: relative;
    width: 33.33333333%;
    -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}

.home-composition__photo--p1 {
  margin-top: -2.8%;
}

@media only screen and (max-width: 56.25em) {
  .home-composition__photo--p1 {
    /* top: 0; */
    float: center;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
}

@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
  transform: translateY(-1.5rem) scale(1.03);
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);
}

@media only screen and (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .story {
    -webkit-transform: skewX(0);
    transform: skewX(0);
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-transform: translateX(-3rem) skewX(12deg);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

@media only screen and (max-width: 37.5em) {
  .story__shape {
    -webkit-transform: translateX(-3rem) skewX(0);
    transform: translateX(-3rem) skewX(0);
  }
}
.story__img {
  height: 100%;
  padding-left: 10px;
  transform: scale(1.2);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.story__text {
  -webkit-transform: skewX(12deg);
  transform: skewX(12deg);
}

@media only screen and (max-width: 37.5em) {
  .story__text {
    -webkit-transform: skewX(0);
    transform: skewX(0);
  }
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.story:hover .story__img {
  /* transform-origin: */
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-filter: blur(3px) brightness(80%);
  filter: blur(3px) brightness(80%);
}

.section-about {
  background-color: #f7f7f7;
  padding: 3rem 3rem 19rem 3rem;
  /* margin-top: -20vh; */
}

@media only screen and (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}
.section-features {
  padding: 20rem 0 20rem 0;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .section-features {
    padding: 8rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

@media only screen and (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}
