

.rc-table {
  margin-top: 2%;
  border: 1px solid #ccc;
}

.rc-table th {
  background-color: #f3a933;
  color: #333;
  font: inherit;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  min-width: 100px;
}

.rc-table td {
  min-width: 100px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rc-table tr:hover {
  background: #eee;
}

.content-inside .add-col-btn {
  width: 7em;
  margin-right: 2%;
}

.content-inside .add-row-btn {
  width: 7em;
}

.table-area {
  margin-top: 3%;
}