

.rc-table {
  margin-top: 2%;
  border: 1px solid #ccc;
}

.rc-table th {
  background-color: #f3a933;
  color: #333;
  font: inherit;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  min-width: 100px;
}

.rc-table td {
  min-width: 100px;
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rc-table tr:hover {
  background: #eee;
}

.table-area .add-col-btn {
  width: 7em;
  margin-right: 2%;
}

.table-area .add-row-btn {
  width: 7em;
}

.table-area {
  /*margin: 40px auto 20px auto;
  width: 50%;*/
  margin-top: 40px;
  text-align: center;
}

.spreadsheet-input {
  width: 200px;
  height: 18px;
  margin-right': 10px;
  font-size': 12px;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
}

.import-btn {
  margin-right: 20%;
}

.add-col-btn {
  margin-left: 0px;
}

.table-style {
  text-align: -webkit-center;
}