* {
  /* box-sizing: border-box; */
}

.Upload {
  /*display: grid;*/
  /*grid-template-columns: repeat(5, 1fr);*/
  /* grid-template-columns: 1fr 1fr 1fr; */
  /*grid-gap: 1%;*/
  /* grid-auto-rows: minmax(100px, auto);
  grid-template-rows: min-content 50px max-content;
  grid-auto-rows: 50px; */
  /*grid-template-rows: 16% 16% 16% 16% 16% auto;*/
  /* grid-template-rows: repeat(6, 1fr); */
  /* grid-template-rows: repeat( auto-fill, minmax(30px, 1fr) ); */
  /* grid-template-rows: 1fr min-content; */
  height: 78vh;
  /* margin: 1.5% 1.5%; */
  /* padding-top: 1%; */
  /* width: 100vw; */
  background-color: #f7f7f7;
}

.grid__item {
  position: relative;
  width: 100%;
  /* border: 1px solid #ccc; */
  /* grid-template-areas:
    "a b b b a"
    "a c c c a"
    "a c c c a"
    "a d d d a"; */
}

.grid__item:nth-child(1) {
  grid-column: 2 / 5;
  /* grid-area: b; */
}
.grid__item:nth-child(1)::before {
  padding-top: 50%;
}
.grid__item:nth-child(1) .content {
  align-items: center;
  justify-items: center;
  text-align: center;
}

.grid__item:nth-child(1) h2 {

}

.grid__item:nth-child(2) {
  /* grid-column: 7 / 10  */
  /* grid-area: c; */  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

  /* &:nth-child(1) {
    grid-column: 1 / 3;
    &::before {
      padding-top: 50%;
    }
    .content {
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  }
  &:nth-child(2) {
    grid-column: 3 / 4;
    justify-self: center;
  }
  &:nth-child(3) {
    grid-column: 1 / 2;
  }
  &:nth-child(4) {
    grid-column: 2 / 3;
  }
  &:nth-child(5) {
    grid-column: 3 / 4;
  }
}*/

grid_item:before {
    content: "";
    height: 0;
    display: inline-block;
    padding-top: 100%;
    width: 1px;
    position: relative;
  }
grid_item .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    justify-items: start;
    align-items: end;
  }
  /* .content-lr {
    place-items: end end;
    text-align: right;
  } */
grid_item .content-inside {
    padding: 2rem;
  }


.Upload button {
  border-radius: 20%;
  outline: 0;
  width: 5em;
  height: 2em;
  font-family: 'Raleway', sans-serif;
}

.Upload button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.Upload button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.grid__item:nth-child(3) {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  text-align: center;

}

.button {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.grid__item:nth-child(4) {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  text-align: center;

}

.submit-button {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.spreadsheet-input {
  width: 200px;
  height: 18px;
  margin-right: 10px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

.import {
  margin-right: 54%;
}

.heading-main {
  margin-top: 20px;
  font-size: 3rem !important;
  font-weight: 700;
  /*display: inline-block;*/
  letter-spacing: .2rem;
  font-family: Raleway, sans-serif;
}

.heading-sub {
  font-size: 2rem;
}

.table-section {
  margin-top: 8%;
}

.spreadsheet-input-div {
  display: inline-block;
  margin-top: 2px;
}

.submit[disabled]:hover {
  cursor: not-allowed;
}

#charts {
  font-size: 12px;
  background-color: white;
}

.chart-dropdown-label {
  font-size: 12px;
  margin-right: 5px;
  width: auto;
}

.chart-dropdown {
  margin: 2% 71.8% 0 0;
  display: inline-block;
}

.titles {
  text-align: center;
}

.bottom-btns {
  margin: auto;
  width: 50%;
}